@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

h2 {
    margin-bottom: 5px;
    color: #000000;
    text-transform: uppercase;
}

.inputs input{
    margin-bottom: 5px;
    width: 100%;
    border-radius: 50px;
    padding: 3px;
    border: 2px solid #898989;
    color: rgba(0, 0, 0, 0.8);
}

.inputs input:valid {
    border-color: green;
}

label {
    color: #000000e8;
}

button {
    margin-top: 15px;
    width: 100%;
    background-color: #4a00e0;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 11px;
    text-transform: uppercase;
    font-size: 17px;
}

button:hover {
    background-color: #4b00e000;
    border: 1px solid #4a00e0;
    color: #4a00e0;
    transition: 0.5s;
}

p {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: #4a00e0;
}

a:hover {
    color: #270173;
    text-decoration: underline;
}